.container-content,
.container-detail {
  margin: auto;
  padding: 0 0.5rem;
}

@media (min-width: 375px) {
  .container-content,
  .container-detail {
    padding: 0 2rem;
  }
}

@media (min-width: 768px) {
  .container-content {
    padding: 0 4rem;
  }

  .container-detail {
    padding: 0 5rem;
  }
}

@media (min-width: 992px) {
  .container-content {
    padding: 0 8rem;
  }

  .container-detail {
    padding: 0 10rem;
  }
}

@media (min-width: 1400px) {
  .container-content {
    padding: 0 18rem;
  }

  .container-detail {
    padding: 0 20rem;
  }
}

@media (min-width: 1600px) {
  .container-content {
    padding: 0 18rem;
  }

  .container-detail {
    padding: 0 25rem;
  }
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.box-shadow-10 {
  box-shadow: 0 0px 10px #d9d9d9;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-center-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flext-space-between {
  display: flex;
  justify-content: space-between;
}

.d-flex-align-center {
  display: flex;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.main-icon {
  font-size: 18px;
}

.main-text {
  color: #ffbd30;
  font-size: 16px;
}

.cursor-pointer {
  cursor: pointer;
}

.fs-12 {
  font-size: 12px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fw-7 {
  font-weight: 700 !important;
}

.fw-9 {
  font-weight: 900 !important;
}

.color-main {
  color: $main-color;
}

.color-white {
  color: $white-color !important;
}

.text-color {
  color: $text-color;
}

.text-links {
  color: #1890ff;
  cursor: pointer;
}

.color-price {
  color: #e52a1f;
}

.btn-main-outline {
  background-color: #fff !important;
  border-color: #ffbd30 !important;
  color: #ffbd30 !important;
}
