.home_page {
  height: auto;

  &__slider {
    height: 680px;

    @media (max-width: 768px) {
      height: 400px;
    }

    @media (max-width: 414px) {
      height: 280px;
    }

    &__img {
      background: rgba(0, 0, 0, 0.8);
      img {
        height: 680px;
        width: 100%;
        opacity: 0.4;
        background-size: cover;
        background-repeat: none;

        @media (max-width: 768px) {
          height: 400px;
        }

        @media (max-width: 414px) {
          height: 280px;
        }
      }
    }

    .slick-dots {
      position: relative;
      margin-top: -5rem;
      display: flex !important;
      padding-right: 0.5rem;
      justify-content: flex-end;
    }

    .slick-dots li button:before {
      color: #ffffff;
      font-size: 8px;
      opacity: 0.5;
    }

    .slick-dots li.slick-active button:before {
      color: #ffbd30;
      font-size: 13px;
      opacity: 1;
    }

    .slick-prev,
    .slick-next {
      display: none !important;
    }
  }

  &__search_container {
    margin: auto;
    margin-top: -20rem;
    position: relative;
    width: 50%;
    @media (max-width: 767px) {
      display: none;
    }

    @media (max-width: 768px) {
      margin-top: -17rem !important;
      width: 70%;
    }

    @media (max-width: 1024px) {
      margin-top: -24rem;
      width: 70%;
    }

    h2 {
      margin: auto;
      width: 100%;
      margin-bottom: 0.5rem;
      color: #ffffff;
      font-weight: bold;
    }

    &__search_bar {
      margin: auto;
      background: rgba(0, 0, 0, 0.65);
      border-radius: 5px 5px 5px 5px;
      padding: 10px;

      .slideClose {
        display: none;
      }

      .slideOpen {
        transform-origin: 50% 0 0;
        transition: transform 0.3s, opacity 0.3s;
        height: auto;
      }
    }

    &__search_input {
      background: #ffffff;
      border-radius: 3px 5px 5px 3px;
    }

    .search_item {
      width: 100%;
      margin: 0 15px;

      @media (max-width: 768px) {
        margin: 0 8px;
      }
    }
  }

  .category {
    .slick-slide {
      padding: 0 2rem 0 0;
      width: 19% !important;
    }

    &__item {
      height: 100%;
      border-radius: 10px;
      box-shadow: 0 0px 10px #d9d9d9;
      img {
        width: 100%;
        background-size: cover;
        background-repeat: none !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .category_name {
        font-weight: 700;
        padding: 0.5rem 0 0 1rem;
        font-size: 18px;

        @media (max-width: 768px) {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }

  &__top_house {
    &__header {
      justify-content: space-between;

      h3 {
        @media screen and (max-width: 767px) {
          font-size: 20px;
        }
      }
    }

  }
}
