.login_container {
  padding: 50px 0;
  height: calc(100vh - 70px);
  background-color: #f9fbff;

  &__content {
    width: 392px;
    border-radius: 4px;
    box-shadow: 0 2px 9px 0 #d9d9d9;
    background-color: #ffffff;
    margin: auto;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
      width: 300px;
      padding: 28px 14px;
    }

    .title {
      @media (max-width: 768px) {
        font-size: 32px;
      }
    }

    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 768px) {
        width: 100%;
      }
      &--forgot {
        float: right;
      }

      &--button {
        width: 100%;
        margin-bottom: 1rem;
        color: #2a2a2a !important;
        font-weight: 600 !important;
      }
    }
  }
}
