.room_detail {
  &__header {
    height: 400px;
    .slick-track {
      display: flex;
    }
    @media (max-width: 768px) {
      height: 200px;

      .slick-list {
        height: 200px;
      }
    }
    &__img {
      img {
        height: 400px;
        // width: 100%;
        background-size: cover;
        background-repeat: none;

        @media (max-width: 767px) {
          height: 200px;
        }
      }
    }
    .slick-slide {
      padding: 0 3px;

      @media (max-width: 768px) {
        padding: 0 1.5px;
      }
    }

    .slick-arrow {
      z-index: 1;
      height: 56px;
      width: 56px;
    }

    .slick-next {
      right: 100px;
    }

    .slick-next::before,
    .slick-prev::before {
      font-size: 40px;
    }

    .slick-prev {
      left: 100px;
    }

    .slick-dots {
      display: none !important;
    }
    @media (max-width: 767px) {
      .slick-next,
      .slick-prev {
        display: none !important;
      }
    }
  }

  &__content {
    height: auto;

    @media (max-width: 1024px) {
      flex-direction: column-reverse;
    }
    &__left {
      width: 70%;

      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    &__right {
      width: 30%;
      border: 1px solid #e9e9e9;
      border-radius: 5px;
      margin-left: 32px;
      padding: 15px;
      height: fit-content;
      position: sticky;
      top: 80px;
      @media (max-width: 1024px) {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1rem;
        position: unset;
      }

      &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffafbd;
        background: -webkit-linear-gradient(to right, #ffc3a0, #ffafbd);
        background: linear-gradient(to right, #ffc3a0, #ffafbd);
        height: 50px;
        border-radius: 10px;
        font-size: 22px;
        font-weight: 700;
      }
    }

    &__room_name {
      h2 {
        overflow: hidden;
        color: #2a2a2a;
        font-weight: 700;
      }
    }

    &__detail_icon {
      font-size: 18px;
      margin-right: 0.5rem;

      &--info {
        display: flex !important;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background: #ffffff;
        border-radius: 20px;
        border: 1px solid #f6f7f9;
        margin-right: 0.5rem;
        margin-left: 2px;
      }
    }

    &__info_title {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffbd30;
      height: 44px;
      border-radius: 22px;
      font-size: 24px;
      font-weight: 600;
      width: fit-content;
    }

    &__info_detail {
      &__list {
        display: flex;
        flex-wrap: wrap;

        li {
          flex-basis: 100%;
          line-height: 2rem;

          @media (min-width: 576px) {
            flex-basis: 33.33333%;
          }

          @media (min-width: 768px) {
            flex-basis: 25%;
          }
        }
      }
    }

    &__description {
      position: relative;
      .short_intro {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 300px;
        width: 100% !important;
      }

      .show_fade::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 300px;
        background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 70%, #fff);
      }

      .show {
        overflow: hidden;
        text-overflow: ellipsis;
        height: auto;
        opacity: 1;
        z-index: 1;
        position: relative;
        max-height: none;
        height: auto !important;
      }
    }
  }
}
