.ft_container {
  background-color: #f7f7f7;

  &__main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;

    @media only screen and (min-width: 29.8125rem /* 477px */) {
      justify-content: space-evenly;
    }

    @media only screen and (min-width: 29.8125rem /* 477px */) {
      justify-content: space-evenly;
    }
    @media only screen and (min-width: 77.5rem /* 1240px */) {
      justify-content: space-evenly;
    }
  }

  &__item {
    padding: 1.25rem;
    min-width: 12.5rem;
    li {
      line-height: 2;
    }
    ul li a {
      color: #2a2a2a;
      font-size: 16px;
    }

    &__logo img {
      height: 70px;
      background-size: cover;
    }

    &--title {
      color: #2a2a2a;
      font-size: 1.5rem;
      padding-bottom: 0.625rem;
      margin-right: 0.5rem;
    }
  }

  &__legal {
    border-top: 1px #777 solid;
    padding: 0.9375rem 1.875rem;
    background-color: #f7f7f7;
    font-size: 1rem;
    text-align: center;
  }
}
