.header {
  height: 70px;
  background-color: #ffffff;

  &__navbar {
    font-size: 18px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 0 !important;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }

    &__toggle {
      position: absolute;
      top: 20px;
      left: 20px;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &__logo {
      display: flex;
      justify-content: center;
      img {
        height: 70px;
        background-size: cover;
      }
    }

    &__main_nav {
      list-style-type: none;
      display: none;
      margin-bottom: 0;

      li {
        text-align: center;
        margin: 15px auto;
        display: flex;
        align-items: center;

        .user_info {
          background: #e9e9e9;
          border-radius: 20px;
          padding: 0 10px 0 3px;
          height: 40px;

          img {
            width: 34px;
            height: 34px;
            border-radius: 50%;
          }
        }
      }
      @media screen and (min-width: 768px) {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;

        li {
          margin: 0;
        }
      }

      .nav_links {
        text-decoration: none;
        color: #000;

        @media screen and (min-width: 768px) {
          margin-left: 40px;
        }
      }

      .nav_links:hover {
        color: #ffbd30;
      }
    }

    &__search {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      color: $text-color;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }
  .active {
    display: block;
  }
}

.drawer_search {
  margin-top: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
  &__open {
    margin-top: 71px;
  }

  .search_item {
    width: 100%;
    margin: 0 5px;
  }

  .ant-drawer-content-wrapper {
    height: fit-content !important;
  }
}

.drawer_menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
  .ant-drawer-header {
    height: 72px;

    .ant-drawer-title {
      margin-top: 7px;
    }
  }

  .ant-drawer-body {
    .main_nav {
      width: 100%;
      height: 100%;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      // transition: transform 1s cubic-bezier(.7,0,.3,1) 0s;
      // transform: translateX(-20rem);
      li {
        display: flex;
        align-items: center;
        text-align: left;
        margin: 15px 15px 15px 0px;
        font-size: 18px;
      }

      .nav_links {
        text-decoration: none;
        color: #000;

        @media screen and (min-width: 768px) {
          margin-left: 40px;
        }
      }

      .nav_links:hover {
        color: #ffbd30;
      }

      .icon_close_menu {
        margin-top: 15px;
        margin-left: 20px;
        cursor: pointer;
        font-size: 24px;
        color: #000;
      }

      
    }
  }
}
