.host_list_room {
  min-height: 100vh;
  .detail_item {
    height: 180px;
    padding: 12px 0;
    // border-bottom: 1px solid #e9e9e9;

    @media (max-width: 767px) {
      flex-direction: column;
      height: auto;
    }
    .room_image {
      height: 100%;
      img {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }

    .room_content {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: 767px) {
        margin-left: 0;
        margin-top: 1rem;
      }
      .room_name {
        h5 {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          color: #2a2a2a;
          line-height: 24px;
          height: 24px;
          font-weight: 700;
          @media screen and (max-width: 767px) {
            font-size: 16px;
          }
        }
      }

      .room_type {
        font-size: 13px;
        text-transform: uppercase;
      }
    }
  }
}
