.room_list {
  &__card_image {
    img {
      width: 100%;
      background-size: cover;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &__card_content {
    &__room_type {
      font-size: 13px;
      color: #999999;
      text-transform: uppercase;
    }

    &__room_name {
      h5 {
        overflow: hidden;
        color: #2a2a2a;
        line-height: 24px;
        font-weight: 700;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
      }

      h5:hover {
        color: $main-color;
        cursor: pointer;
      }
    }
  }
}
