body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #001a39;
  margin: 0;
  // .sub-body {
  //   margin: 8px;
  // }
  box-sizing: border-box;
}

button {
  text-transform: none !important;
}

ul {
  list-style: none;
  padding-left: 0;
}

.ant-btn-primary {
  background: #ffbd30 !important;
  border-color: #ffbd30 !important;
}

.MuiContainer-maxWidthLg {
  @media screen and (max-width: 1440px) {
    max-width: 1280px !important;
  }
  @media screen and (min-width: 1441px) {
    max-width: 1440px !important;
  }
}

.MuiDialog-root {
  .MuiDialog-paper {
    @media screen and (max-width: 540px) {
      margin: 48px 16px;
      width: 100% !important;
    }
  }
  .MuiPaper-root {
    h6 {
      color: #001a39;
      text-align: center;
    }
  }
}

#simple-menu {
  ul {
    li {
      padding-left: 6px;
      margin-left: 32px;
      margin-right: 32px;
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: none;
        padding-right: 6px;
        span {
          &:first-child {
            flex-grow: 1;
          }
        }
      }
      &:hover {
        background-color: #fff;
        color: #1279c2;
      }
    }
  }
}
